.footer {
  position: sticky;
  bottom: 0;
  border-top: 1px solid rgba(124, 124, 124, 0.4);
  height: 44px;
  background: #fff;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  /* padding: 10px 10px; */
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  max-width: 24px;
  max-height: 24px;
  min-height: 24px;
  min-width: 24px;
  background-color: black;
  border-radius: 100%;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
}
